@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body, html {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
    /* background-image: url('./assets/img/background.png');
    background-repeat: repeat;
    background-size: 100px;
    background-color: rgba(255,255,255,0.9);
    background-blend-mode: lighten; */
}

.card {
    min-height: 200px;
    box-shadow: 10px;
}

.header-logo {
    margin-left: -80px;
    margin-bottom: 50px;
}


h1 {
    font-weight: 900;
    font-size: 52px;
    color: #326C2E;
}