@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body, html {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    scroll-behavior: smooth;
}

section {
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 11px;
}

a {
    color: black;
}

h1, h2 {
    color: #326C2E;
    font-weight: bold;
}

h3 {
    color: #326C2E;
}

.btn {
    border-radius: 0;
    border: transparent;
}

.btn:hover {
    border-radius: 0;
    background-color: #555555;
}

.btn-primary {
    margin-bottom: 5px;
    background-color: #326C2E;
    min-width: 100px;
}

.btn-success {
    margin-bottom: 5px;
    background-color: #FFA200;
    min-width: 100px;
}

.btn-info {
    margin-bottom: 5px;
    background-color:#3498db;
    min-width: 100px;
}

.btn-danger {
    margin-bottom: 5px;
    background-color: #e74c3c;
    min-width: 100px;
}

.navbar {
    height: 50px;
    background-color: #F3F5F7;
    color: black;
}

.jumbotron {
    padding-top: 0;
    background-color: white;
    padding-bottom: 0;
}

#menu-panes {
    display: none;
    padding-left: 350px;
    padding-right: 50px;
    padding-top: 100px;
    padding-bottom: 150px;
}

#side-nav {
    width: 300px;
    margin-top: 50px;
    background-color: #326C2E;
}

#side-nav div img {
    width: 200px;
}


#side-nav li img {
    width: 32px;
    padding-right: 10px;
}

#menu-panes {
    transition: padding-left 0.5s;
}

#img-loading {
    width: 200px;
}

.reponsive-offline {
    width: 90%;
    background-image: url('./img/KTP-background.png');
    background-position: center;
    background-size: cover;
    border-radius: 10px;
}

@media (max-height: 650px) {
    #side-nav div img {
        width: 100px;
    }
}