@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
body, html {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    background-color: #326C2E;
}

#view-pages {
    display: none;
}

#pages-logo {
    /* display: none; */
    background-color: white;
}

#pages-logo img {
    max-height: 800px;
}

#pages-panels {
    background-color: #326C2E;
    color: white;
    left: 66%;
}

#pages-panels h1 {
    font-size: 30px;
    font-weight: bold;
}

#pages-panels h2 {
    font-size: 30px;
}

#pages-panels input, #pane-registration input {

    padding: 0%;

    font-weight: bold;
    color: white;
    border: 0;
    outline: 0;
    width: 100%;
    background: transparent;
    border-bottom: 1px solid white;
}

#pages-panels a {
    color: white;
    font-size: 11px;
    left: 66%;
}

.footer {
    position: fixed;
    left: 66%;
    bottom: 0;
    width: 33%;
    background: transparent;
    color: white;
    text-align: center;
}

.footer p {
    padding-bottom: 0%;
}

.form-check-input {
    background: transparent;
}

.btn-primary {
    font-size: 11px;
    height: 40px;
    background-color: #FFA200;
    border-radius: 0;
}

.dropdown-divider {
    border-bottom: 1px solid white;
}

.form-group label {
    font-size: 11px;
    text-align: left;
    letter-spacing: 1.95px;
    color: #FFFFFF;
    opacity: 1;
    /* text-transform: uppercase; */
}

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: gainsboro;
    opacity: 1;
    /* Firefox */
}

@media (max-width: 1100px) {
    #pages-logo {
        display: none;
        background-color: white;
    }
    #pages-panels {
        left: 15%;
        background-color: #326C2E;
        color: white;
    }
    #pane-login {
        margin: 0 auto;
        width: 600px;
    }
    #footer {
        /* display: none; */
        width: 600px;
    }
}

@media (max-width: 900px) {
    #pages-logo {
        display: none;
        background-color: white;
    }
    #pages-panels {
        left: 5%;
        background-color: #326C2E;
        color: white;
    }
    #pane-login {
        margin: 0 auto;
        width: 600px;
    }
    #footer {
        /* display: none; */
        width: 600px;
    }
}