@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
html, body {
    font-family: 'Jost', sans-serif;
    scroll-behavior: smooth;
}

table {
    /* width:100%; */
    font-size: 11px;
    table-layout: fixed;
}

button {
    padding-top: 50px;
    padding-bottom: 50px;
}